{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% load account socialaccount %}
{% include "socialaccount/snippets/provider_list.html" with process="login" %}

{% block title %}
{% blocktrans with provider.name as provider %}Sign In with {{ provider }}{% endblocktrans %}
{% endblock title %}
{% block content %}
<div class="container-fluid home-hero-bg">
    <div class="container-fluid home-hero-bg-overlay">
        <div class="row h-100 my-auto">
            <div class="col-12 col-md-7 my-auto hero-container">
                <div class="login-container">
                    <h1 class="display-4 text-black">
                        {% blocktrans with provider.name as provider %}Sign In with {{ provider }}{% endblocktrans %}
                    </h1>
                    <p>
                        {% blocktrans with provider.name as provider %}You are about to sign in using a third-party
                        account from {{ provider }}.{% endblocktrans %}
                    </p>
                    {% element form method="post" no_visible_fields=True %}
                    {% slot actions %}
                    {% csrf_token %}
                    <button type="submit" class="login-button btn btn-lg">
                        {% trans "Continue" %}
                    </button>
                    {% endslot %}
                    {% endelement %}
                </div>
            </div>
        </div>
    </div>
</div>
                    {% endblock content %}
        