{% extends "socialaccount/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
Login Cancelled
{% endblock head_title %}
{% block content %}
div class="container-fluid home-hero-bg">
<div class="container-fluid home-hero-bg-overlay">
    <div class="row h-100 my-auto">
        <div class="col-12 col-md-7 my-auto hero-container">
            <div class="login-container">
                <h1 class="display-4 text-black">
                    Login Cancelled
                </h1>
                {% endelement %}
                {% url 'account_login' as login_url %}
                <p>
                    {% blocktrans %}You decided to cancel logging in to our site using one of your existing accounts. If
                    this was a mistake, please proceed to <a href="{{login_url}}">sign in</a>.{% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}