{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% load account socialaccount %}
{% include "socialaccount/snippets/provider_list.html" with process="login" %}

{% block title %}
Password Changed
{% endblock title %}
{% block content %}
<div class="container-fluid home-hero-bg">
    <div class="container-fluid home-hero-bg-overlay">
        <div class="row h-100 my-auto">
            <div class="col-12 col-md-7 my-auto hero-container">
                <div class="login-container">
                    <h1 class="display-4 text-black">
                        {% trans "Password Changed" %}
                    </h1>
                    <p>{% trans 'Your password is now changed.' %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}