{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% load account socialaccount %}
{% include "socialaccount/snippets/provider_list.html" with process="login" %}

{% block title %}
Password Reset - from Key
{% endblock title %}
{% block content %}
<div class="container-fluid home-hero-bg">
    <div class="container-fluid home-hero-bg-overlay">
        <div class="row h-100 my-auto">
            <div class="col-12 col-md-7 my-auto hero-container">
                <div class="login-container">
                    <h1 class="display-4 text-black">
                        {% if token_fail %}
                        {% trans "Bad Token" %}
                        {% else %}
                        {% trans "Change Password" %}
                        {% endif %}
                    </h1>

                    {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>
                        {% blocktrans %}The password reset link was invalid, possibly because it has already been used.
                        Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
                    </p>
                    {% else %}
                    {% element form method="post" action=action_url %}
                    {% slot body %}
                    {% csrf_token %}
                    {% element fields form=form %}
                    {% endelement %}
                    {% endslot %}
                    {% slot actions %}
                    <button type="submit" class="login-button btn btn-lg">
                        {% trans 'Change Password' %}
                    </button>
                    {% endslot %}
                    {% endelement %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}