{% extends "base.html" %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="container-fluid home-hero-bg">
    <div class="container-fluid home-hero-bg-overlay">
        <div class="row h-100 my-auto">
            <div class="col-12 col-md-8 my-auto hero-container">
                <h1 class="display-4 text-black">
                    Find your perfect match<br>Find your <img src="{% static 'images/truluvlogo.png' %}" alt="TruLuv"
                        width="150" class="d-inline">

                </h1>
                <div>
                    <h4>
                        <a href="{% url 'account_login' %}" class="login-button btn btn-lg rounded-0 text-uppercase py-3">Login</a>
                        <a href="{% url 'account_signup' %}" class="signup-button btn btn-lg rounded-0 text-uppercase py-3">Signup</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
