{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
My Profile
{% endblock title %}
{% block content %}
<div class="container-fluid">
    <div class="container-fluid">
        <div class="row h-100 my-auto">
            <div class="col-12">
                <h1 class="display-4 text-black">
                    My Profile
                </h1>
                <p>
                    Welcome to your profile page. Here you can view and edit your profile information.
                </p>
            </div>
        </div>
        <div class="row h-100 my-auto">
            <!-- Col one MD 50% -->
            <div class="col-12 col-md-6 my-auto">
                <div class="row">
                    <h2>Account Details</h2>
                    <div class="col-12">
                        <div class="row mb-2">
                            <div class="col-3">
                                <form method="POST" action="{% url 'updateusername' %}">
                                    {% csrf_token %}
                                    <strong>Username:</strong>
                            </div>
                            <div class="col-5">
                                <input class="form-control" type="text" value="{{ user.username }}" id="username"
                                    name="username">
                            </div>
                            <div class="col-4">
                                <button class="btn inline-tl-button" type="submit">Change
                                    Username</button>
                            </div>
                            </form>
                        </div>
                        <div class="row mb-2">
                            <div class="col-3">
                                <strong>Primary Email:</strong>
                            </div>
                            <div class="col-5">
                                <input type="text" disabled value="{{ user.email }}">
                            </div>
                            <div class="col-4">
                                <a href="{% url 'account_email' %}" class="btn inline-tl-button">Add/Update
                                    Email</a>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-3">
                                <strong>Password:</strong>
                            </div>
                            <div class="col-9">
                                <a href="{% url 'account_change_password' %}" class="btn inline-tl-button">Change
                                    Password</a>
                            </div>
                        </div>
                        </p>
                        <hr class="my-4">
                        <h2>Personal Details</h2>
                        <form action="{% url 'updatename' %}" method="POST">
                            <div class="row mb-2">
                                <div class="col-3">
                                    <strong>First Name:</strong>
                                </div>
                                <div class="col-5">
                                    {% csrf_token %}
                                    <input class="form-control" type="text" value="{{ user.first_name }}"
                                        id="first_name" name="first_name">
                                </div>
                                <div class="col-4"></div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-3">
                                    <strong>Last Name:</strong>
                                </div>
                                <div class="col-5">
                                    <input class="form-control" type="text" value="{{ user.last_name }}" id="last_name"
                                        name="last_name">
                                </div>
                                <div class="col-4">
                                    <button class="btn inline-tl-button" type="submit">Update Name</button>
                                </div>
                            </div>
                        </form>
                        <div class="row mb-2">
                            <div class="col-3">
                                <form action="{% url 'updateaddress' %}" method="POST">
                                    <strong>Address:</strong>
                            </div>
                            <div class="col-5">
                                {% csrf_token %}
                                <textarea class="form-control address-input" id="address" name="address" rows="4">{{
                                    user.profile.address }}</textarea>
                            </div>
                            <div class="col-4 update-address-button">
                                <button class="btn inline-tl-button" type="submit">
                                    Update Address
                                </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    </p>
                </div>
            </div>
            <!-- Col two MD 50% -->
            <div class="col-12 col-md-6 my-auto">
                <div class="row">
                    <h2>About You</h2>
                    <div class="col-12">
                        <div class="row mb-2">
                            <div class="col-3">
                                <form id="age" method="POST" action="{% url 'updateaboutme' %}">
                                    {% csrf_token %}
                                    <strong>Age:</strong>
                            </div>
                            <div class="col-5 age-container">
                                <a class="btn inline-tl-button age-button" id="age-miunus">-</a>
                                <input class="form-control" type="number"
                                    value="{% if user.profile.age %}{{ user.profile.age }}{% else %}18{% endif %}"
                                    id="age-input" name="age" min="18" max="99">
                                <a class="btn inline-tl-button age-button" id="age-plus">+</a>

                            </div>
                            <div class="col-4">
                                <button class="btn inline-tl-button" type="submit">Update Age</button>
                            </div>
                            </form>
                        </div>
                        <div class="row mb-2">
                            <div class="col-3">
                                <strong>Primary Email:</strong>
                            </div>
                            <div class="col-5">
                                <input type="text" disabled value="{{ user.email }}">
                            </div>
                            <div class="col-4">
                                <a href="{% url 'account_email' %}" class="btn inline-tl-button">Add/Update
                                    Email</a>
                            </div>
                        </div>
                        </p>
                        <hr class="my-4">
                        <h2>Photos</h2>
                        <div class="row mb-2">
                            <div class="col-4">
                                <p><strong>Profile Picture</strong></p>
                                <form action="uploadphotos/" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="file" name="image1" id="image1" accept="image/*">
                                    <button class="btn inline-tl-button" type="submit">Save Photo</button>
                                
                            </div>
                            <div class="col-8 profile-photo">
                                <a onclick="document.getElementById('image1').click()">
                                    {% if user.profile.image1 %}
                                    <img src="{{ user.profile.image1.url }}" class="img-fluid profile-extra-photos" ><div class="upload-edit"><i class="fa-solid fa-upload"></i> <i class="fa-solid fa-pen-to-square"></i></div>
                                    {% else %}
                                    <img src="{% static 'images/no-image.png' %}" class="img-fluid profile-extra-photos" ><div class="upload-edit"><i class="fa-solid fa-upload"></i> <i class="fa-solid fa-pen-to-square"></i></div>
                                    {% endif %}
                                </a>
                                <a href="{% url 'removeimage' %}{{ user.profile.image1}}"class="del-photo"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </form>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12">
                            <p><strong>Additional Photos</strong></p>
                            <form action="uploadphotos/" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row photo container">
                                    <div class="col-4">
                                        <a onclick="document.getElementById('image2').click()">
                                            {% if user.profile.image2 %}
                                            <img src="{{ user.profile.image2.url }}" class="img-fluid profile-extra-photos" ><div class="upload-edit"><i class="fa-solid fa-upload"></i> <i class="fa-solid fa-pen-to-square"></i></div>
                                            {% else %}
                                            <img src="{% static 'images/no-image.png' %}" class="img-fluid profile-extra-photos" ><div class="upload-edit"><i class="fa-solid fa-upload"></i> <i class="fa-solid fa-pen-to-square"></i></div>
                                            {% endif %}
                                            <input type='file' id="image2" name="image2" style="display:none">
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a onclick="document.getElementById('image3').click()">
                                            {% if user.profile.image3 %}
                                            <img src="{{ user.profile.image3.url }}" class="img-fluid profile-extra-photos" ><div class="upload-edit"><i class="fa-solid fa-upload"></i> <i class="fa-solid fa-pen-to-square"></i></div></a>
                                            {% else %}
                                            <img src="{% static 'images/no-image.png' %}" class="img-fluid profile-extra-photos" ><div class="upload-edit"><i class="fa-solid fa-upload"></i> <i class="fa-solid fa-pen-to-square"></i></div></a>
                                            {% endif %}
                                            <input type='file' id="image3" name="image3" style="display:none">
                                    </div>
                                    <div class="col-4">
                                        <a onclick="document.getElementById('image4').click()">
                                            {% if user.profile.image4 %}
                                            <img src="{{ user.profile.image4.url }}" class="img-fluid profile-extra-photos" ><div class="upload-edit"><i class="fa-solid fa-upload"></i> <i class="fa-solid fa-pen-to-square"></i></div></a>
                                            {% else %}
                                            <img src="{% static 'images/no-image.png' %}" class="img-fluid profile-extra-photos" ><div class="upload-edit"><i class="fa-solid fa-upload"></i> <i class="fa-solid fa-pen-to-square"></i></div></a>
                                            {% endif %}
                                            <input type='file' id="image4" name="image4" style="display:none">
                                    </div>
                                    <div class="col-4">
                                        <a onclick="document.getElementById('image5').click()">
                                            {% if user.profile.image5 %}
                                            <img src="{{ user.profile.image5.url }}" class="img-fluid profile-extra-photos" ><div class="upload-edit"><i class="fa-solid fa-upload"></i> <i class="fa-solid fa-pen-to-square"></i></div></a>
                                            {% else %}
                                            <img src="{% static 'images/no-image.png' %}" class="img-fluid profile-extra-photos" ><div class="upload-edit"><i class="fa-solid fa-upload"></i> <i class="fa-solid fa-pen-to-square"></i></div></a>
                                            {% endif %}
                                            <input type='file' id="image5" name="image5" style="display:none">
                                    </div>
                                    <div class="col-4">
                                        <a onclick="document.getElementById('image6').click()">
                                            {% if user.profile.image6 %}
                                            <img src="{{ user.profile.image6.url }}" class="img-fluid profile-extra-photos" ><div class="upload-edit"><i class="fa-solid fa-upload"></i> <i class="fa-solid fa-pen-to-square"></i></div></a>
                                            {% else %}
                                            <img src="{% static 'images/no-image.png' %}" class="img-fluid profile-extra-photos" ><div class="upload-edit"><i class="fa-solid fa-upload"></i> <i class="fa-solid fa-pen-to-square"></i></div></a>
                                            {% endif %}
                                            <input type='file' id="image6" name="image6" style="display:none">
                                    </div>
                                    <div class="col-4">
                                        <a onclick="document.getElementById('image7').click()">
                                            {% if user.profile.image7 %}
                                            <img src="{{ user.profile.image7.url }}" class="img-fluid profile-extra-photos" ><div class="upload-edit"><i class="fa-solid fa-upload"></i> <i class="fa-solid fa-pen-to-square"></i></div></a>
                                            {% else %}
                                            <img src="{% static 'images/no-image.png' %}" class="img-fluid profile-extra-photos" ><div class="upload-edit"><i class="fa-solid fa-upload"></i> <i class="fa-solid fa-pen-to-square"></i></div></a>
                                            {% endif %}
                                            <input type='file' id="image7" name="image7" style="display:none">
                                    </div>
                                    <div class="col-12">
                                        <button class="btn inline-tl-button" type="submit">Save Photos</button>
                                    </div>
                                </div>
                            </form> 
                            
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_js %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var input = document.getElementById("age-input");
        plusButton = document.getElementById("age-plus");
        minusButton = document.getElementById("age-miunus");

        plusButton.addEventListener("click", function () {
            input.value = parseInt(input.value) + 1;
        });

        minusButton.addEventListener("click", function () {
            input.value = parseInt(input.value) - 1;
        });

    }); 
</script>

{% endblock extra_js %}
```