{% extends "base.html" %}
{% load i18n %}

{% block title %}
My Profile
{% endblock title %}
{% block content %}
<div class="container-fluid">
    <div class="container-fluid">
        <div class="row h-100 my-auto">
            <div class="col-12">
                <h1 class="display-4 text-black">
                    My Profile
                </h1>
                <p>
                    Welcome to your profile page. Here you can view and edit your profile information.
                </p>
            </div>
        </div>
        <div class="row h-100 my-auto">
            <div class="col-12 col-md-6 my-auto">
                <div class="row">
                    <div class="col-12">
                        <p><strong>Profile Picture</strong></p>
                        <img src="{{ user.profile.image1_url }}" alt="Profile Picture"
                            class="img-fluid my-profile-photos">

                        <form method="POST" action="{% url 'updateusername' %}">
                            {% csrf_token %}
                            <label for="username"><strong>Username:</strong></label>
                            <input class="form-control d-inline" type="text" value="{{ user.username }}" id="username"
                                name="username">
                            <div class="d-inline float-right">
                                <button class="btn inline-tl-button" type="submit">Change
                                    Username</button>
                            </div>
                        </form>

                        <span class="d-inline"><strong>Primary Email:</strong></span>
                        <span class="d-inline">{{ user.email }}</span>
                        <div class="d-inline float-right">
                            <a href="{% url 'account_email' %}" class="btn inline-tl-button">Add/Update
                            Email</a>
                        </div>
                        </p>
                        <hr class="my-4">
                        <p>
                            <strong>First Name:</strong> {{ user.first_name }}
                        </p>
                        <p>
                            <strong>Last Name:</strong> {{ user.last_name }}
                        </p>
                        <hr class="my-4">

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h2>Change Password</h2>
                        <p>
                            <a href="{% url 'account_change_password' %}">Change Password</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h2>Delete Account</h2>
                        <p>
                            <a href="/">Delete Account</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
```