{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block title %}
User Grid
{% endblock title %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        {% for i in user_prof.values %}
        <div class="col-lg-2 col-md-6 d-flex align-items-stretch user-tile-container">
            <div class="user-tile" style="background: url({{ i.image1 }});">
                <a href="{% url 'viewuser' i.profileid %}">
                    <div class="user-tile-body">
                        <h5 class="mb-0">{{ i.first_name }}</h5>
                        <p class="mb-0"><i class="fa-solid fa-location-arrow"></i> {{ i.distance }} Miles</p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

            {% endblock content %}

            {% block extra_js %}
            <script 
            src="https://maps.googleapis.com/maps/api/js?key={{ gmapsapikey }}&callback=initMap" async defer>
            </script>
            {% endblock extra_js %}