{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block title %}
User Grid
{% endblock title %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <h1>User Grid</h1>
        <p>Search through other users to find your TruLuv</p>
        <div class="accordion mb-2" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Need help? Click here
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Click anywhere on the user tile to access the users profile. Send them a like by clicking the face with heart eyes emoji. Send a message by clicking the message button
                </div>
              </div>
            </div>
        </div>  
        {% for i in user_prof.values %}
        <div class="col-lg-3 col-md-6">
            <a href="{% url 'viewuser' i.profileid  %}" class="rem-hyp">
                <div class="card" >
                    <img class="card-img-top" src="{{ i.image1 }}" width="100px" height="180px" alt="Card image cap" style="object-fit:cover;">
                    <div class="card-body">
                    <h5 class="card-title">{{ i.first_name }}</h5>
                    <p class="card-text"><i class="fa-solid fa-location-arrow"></i> {{ i.distance }} miles</p>
                    {% if i.profileid in liked_users %}
                    <a class="card-link btn bg-success text-light no-mouse"><i class="fa-solid fa-user-check"></i></a>
                    {% else %}
                    <a href="{% url 'add_like' i.profileid %}" class="card-link btn"><i class="fa-solid fa-face-grin-hearts"></i></a>
                    {% endif %}
                    {% if i.profileid in matched_users %}
                    <a href="{% url 'get_chate_user' i.profileid %}" class="card-link btn"><i class="fa-solid fa-comments"></i></a>
                    {% elif premium_status == True %}
                    <a href="{% url 'get_chate_user' i.profileid %}" class="card-link btn"><i class="fa-solid fa-comments"></i></a>
                    {% endif %}
                  </div>
                </div>
            </a>
        </div>                    
        {% endfor %}

    </div>
</div>

{% endblock content %}

            {% block extra_js %}
            <script 
            src="https://maps.googleapis.com/maps/api/js?key={{ gmapsapikey }}&callback=initMap" async defer>
            </script>
            {% endblock extra_js %}