/* TruLuv Font Colour Scheme */
.trl-font-green{
    color: #34e000;
}
.trl-font-orange {
    color: #ff7c0a; 
}

/* Home Hero */

.home-hero-bg {
    background: rgb(251,251,251);
    background: linear-gradient(135deg, rgba(251,251,251,1) 3%, rgba(255,124,10,1) 83%);
    height: 100vh;
    width: 100vw;
}
.home-hero-bg-overlay {
    background-image: url(/static/images/home-bg.png);
    height: 100vh;
    background-position: right bottom;
    background-size: 50vh;
    background-repeat: no-repeat;
}
/* Buttons */
.inline-tl-button {
    background-color: #ff7c0a;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0;
    padding: 6px !important;
    width: 100%;
}

.login-button{
    background-color: #ff7c0a;
    color: white;
    border: none;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0;
}
.login-button:hover, .signup-button:hover, .inline-tl-button:hover {
    background-color: #000000;
    color: white;
}
.signup-button{
    background-color: #34e000;
    color: white;
    border: none;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0;
}
.update-address-button {
    display: inline-flex;
    align-items: flex-end;
}
.age-button {
    width: 1.5em;
    background: #ff7c0a;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 100%;
}



/* Navbar  */
.navbar-nav {
    right: 0;
    position: absolute;
}
.circle-green-black-icon-bg {
    border-radius: 50%;
    color: black;
    background-color: #34e000;
    padding: 9px;
}
.menu-label {
    display: none
}

/* Sign In */
.fb-login-button {
    margin-left: 2px;
}
span.helptext a {
    text-decoration: none !important;
    color: black;
    font-size: 13px;
}
.helptext {
    margin-top: 10px;
    display: block;
}
.login-container ul {
    font-size: 10px;
    padding-left: 0;
    list-style: inside;
    line-height: 1.2;
}
.login-container {
    background: white;
    padding: 10px;
}
.equal-width {
    display: inline-block;
    margin: 0;
    
}
.errorlist {
    font-size: 18px !important;
    list-style: none !important;
    background: #ff000070;
    padding: 5px !important;
}

/* My Profile */
.my-profile-photos {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.inline-form{
    display: inline;
}
.form-control {
    border-radius: 0 !important;
    padding: 5px;
    width: auto;
}
.form-alignment-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.address-input{
    height: 110px;
}
input#age-input {
    display: inline-block;
    width: 67%;
}
.age-container{
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.profile-photo {
    display: inline-flex;
    justify-content: flex-end;
}
.upload-edit {
    position: relative;
    text-align: center;
    bottom: 25px;
    background: #ffffffe8;
    padding: 1px;
}
.profile-extra-photos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 50%;
    object-fit: cover;
    height: 150px;
    width: 150px;
}
a.del-photo {
    display: block;
    position: absolute;
    background: white;
    padding: 2px;
    color:red;
}
#map {
    height: 300px;
    width: 100%;
}
.centerMarker{
    position:absolute;
    /*url of the marker*/
    background:url(http://maps.gstatic.com/mapfiles/markers2/marker.png) no-repeat;
    /*center the marker*/
    top:50%;left:50%;
}

/* Remove Up Down arrows on Number Input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Mobile Breakpoint */
@media (max-width: 767px) {
    /* Add your mobile-specific styles here */
    .home-hero-bg-overlay {
        background-position: center bottom;
        background-size: 50vh;
        padding: 0;
    }
    .login-button, .signup-button {
        font-size: 14px;
    }
    .hero-container{
        background: #ffffffcc;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }
    /* Mobile Nav */
    .navbar-nav {
        right: unset;
        position: unset;
    }
    .circle-green-black-icon-bg {
        display: none;
    }
    .menu-label {
        display: unset
    }
    /* Mobile Sign In */
    span.helptext {
        display: block;
    }
    .equal-width {
        display: block;
        width: 100%;
        margin: 0;
        
    }

}
