{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block title %}
Likes
{% endblock title %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <h1>Who liked you</h1>
        {% for value in liked_by_users %}
            <div class="col-lg-3 col-md-6">
                <a href="{% url 'viewuser' value.liker_user_id %}" class="rem-hyp">
                    <div class="card" >
                        <img class="card-img-top" src="{{ value.image1 }}" width="100px" height="180px" alt="Card image cap" style="object-fit:cover;">
                        <div class="card-body">
                            <h5 class="card-title">{{ value.name }}</h5>
                            <p class="card-text"><i class="fa-solid fa-location-arrow"></i> {{value.distance}} miles</p>
                            {% if value.liker_user_id in liked_users_query_list %}
                            <a class="card-link btn bg-success text-light no-mouse"><i class="fa-solid fa-user-check"></i></a>
                            {% else %}
                            <a href="{% url 'add_like' value.liker_user_id %}" class="card-link btn w-100"><i class="fa-solid fa-face-grin-hearts"></i></a>
                            {% endif %}
                            {% if value.liker_user_id in matched_users %}
                            <a href="{% url 'get_chate_user' value.liker_user_id %}" class="card-link btn"><i class="fa-solid fa-comments"></i></a>
                            {% else %}
                            {% endif %}                        
                        </div>
                    </div>
                </a>
            </div> 
        {% endfor %}
    </div>

    <div class="row">
        <h1>Who you've liked</h1>
        {% for value in liked_users %}
            <div class="col-lg-3 col-md-6">
                <a href="{% url 'viewuser' value.user_id%}" class="rem-hyp">
                    <div class="card" >
                        <img class="card-img-top" src="{{ value.image1 }}" width="100px" height="180px" alt="Card image cap" style="object-fit:cover;">
                        <div class="card-body">
                            <h5 class="card-title">{{ value.name }} - {{ value.age }}</h5> 
                            <p class="card-text"><i class="fa-solid fa-location-arrow"></i> {{value.distance}} miles</p>
                            {% if value.user_id in matched_users %}
                            <a href="{% url 'remove_like' value.object_id%}" class="card-link btn bg-danger text-light">
                                <i class="fa-solid fa-heart-circle-xmark"></i>
                            </a>
                            <a href="{% url 'get_chate_user' value.user_id %}" class="card-link btn"><i class="fa-solid fa-comments"></i></a>
                            {% else %}
                            <a href="{% url 'remove_like' value.object_id%}" class="card-link btn bg-danger text-light w-100">
                                <i class="fa-solid fa-heart-circle-xmark"></i>
                            </a>
                            {% endif %}                        
                        </div>   
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <hr>
</div>
{% endblock content %}

{% block extra_js %}
<script 
src="https://maps.googleapis.com/maps/api/js?key={{ gmapsapikey }}&callback=initMap" async defer>
</script>
{% endblock extra_js %}