{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block title %}
Profile for user {{ userid.user.username }}
{% endblock title %}
{% block content %}
<div class="container-fluid">
    <div class="row mt-5">
        <!-- Title and Intro -->
        <div class="col-12">
            <h2 class="display-4 text-black sentance-case">
                {{ user.first_name }} {{ user.last_name }}
            </h2>
            <p class="small">Joined: {{ user.created_at }} | Last Update: {{ user.updated_at }}</p>
        </div>
        <!-- Column One 50% Width of MD+. 100% Width on Small -->
        <div class="col-12 col-sm-6">
            <!-- Profile Photo and Additional Photos -->
            <div class="row">
                {% if user.image1 %}
                <div class="col-6">
                    <a href="{% get_media_prefix %}/{{ user.image1 }}" target="_blank">
                        <img src="{% get_media_prefix %}/{{ user.image1 }}" class="img-fluid view-prof-photos profile-photo" alt="Profile Photo">
                    </a>
                </div>
                {% endif %}
                <!-- Extra Photos Col 1 -->
                <div class="col-3 extra-photo-tiles">
                    {% if user.image2 %}
                        <div class="row">
                                <a href="{% get_media_prefix %}/{{ user.image2 }}" target="_blank">
                                    <img src="{% get_media_prefix %}/{{ user.image2 }}" class="img-fluid view-prof-photos" alt="Additional Photo 1">
                                </a>
                        </div>
                    {% endif %}
                    {% if user.image3 %}
                    <div class="row">
                        <a href="{% get_media_prefix %}/{{ user.image3 }}" target="_blank">
                            <img src="{% get_media_prefix %}/{{ user.image3 }}" class="img-fluid view-prof-photos" alt="Additional Photo 2">
                        </a>
                    </div>
                    {% endif %}
                    {% if user.image4 %}
                        <div class="row">
                            <a href="{% get_media_prefix %}/{{ user.image4 }}" target="_blank">
                                <img src="{% get_media_prefix %}/{{ user.image4 }}" class="img-fluid view-prof-photos" alt="Additional Photo 3">
                            </a>
                        </div>
                    {% endif %}
                </div> 
                <!-- Extra Photos Col 2 -->
                <div class="col-3 extra-photo-tiles">
                    {% if user.image5 %}
                        <div class="row">
                            <a href="{% get_media_prefix %}/{{ user.image5 }}" target="_blank">
                                <img src="{% get_media_prefix %}/{{ user.image5 }}" class="img-fluid view-prof-photos" alt="Additional Photo 4">
                            </a>
                        </div>
                    {% endif %}
                    {% if user.image6 %}
                        <div class="row">
                            <a href="{% get_media_prefix %}/{{ user.image6 }}" target="_blank">
                                <img src="{% get_media_prefix %}/{{ user.image6 }}" class="img-fluid view-prof-photos" alt="Additional Photo 5">
                            </a>
                        </div>
                    {% endif %}
                    {% if user.image7 %}
                        <div class="row">
                            <a href="{% get_media_prefix %}/{{ user.image7 }}" target="_blank">
                                <img src="{% get_media_prefix %}/{{ user.image7 }}" class="img-fluid view-prof-photos" alt="Additional Photo 6">
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <!-- Socials -->
            <div class="row mt-2 social-icon-row">
                <!-- Instagram -->
                {% if user.instagram %}
                <div class="social-icon-container">
                    <a href="https://instagram.com/{{ user.instagram }}">
                        <i class="fa-brands fa-instagram social-icons"></i>
                    </a>
                </div>
                {% endif %}
                <!-- Facebook -->
                {% if user.facebook %}
                <div class="social-icon-container">
                    <a href="https://facebook.com/{{ user.facebook }}">
                        <i class="fa-brands fa-facebook social-icons"></i>
                    </a>
                </div>
                {% endif %}
                <!-- Twitter -->
                {% if user.twitter %}
                <div class="social-icon-container">
                    <a href="https://twitter.com/{{ user.twitter }}">
                        <i class="fa-brands fa-twitter social-icons"></i>
                    </a>
                </div>
                {% endif %}
                <!-- LinkedIn -->
                {% if user.linkedin %}
                <div class="social-icon-container">
                    <a href="https://linkedin.com/in/{{ user.linkedin }}">
                        <i class="fa-brands fa-linkedin social-icons"></i>
                    </a>
                </div>
                {% endif %}
                <!-- Snapchat -->
                {% if user.snapchat %}
                <div class="social-icon-container">
                    <a href="https://snapchat.com/add/{{ user.snapchat }}">
                        <i class="fa-brands fa-snapchat social-icons"></i>
                    </a>
                </div> 
                {% endif %}
                <!-- Onlyfans -->
                {% if user.onlyfans %}
                <div class="social-icon-container">
                    <a href="https://onlyfans.com/{{ user.onlyfans }}">
                        <img class="social-icons of-svg"src="{% static 'images/oflogo.svg' %}" alt="">
                    </a>
                </div>
                {% endif %}
                <!-- Website -->
                {% if user.website %}
                <div class="social-icon-container">
                    <a href="{{ user.website }}">
                        <i class="fa-solid fa-globe social-icons"></i>
                    </a>
                </div>
                {% endif %}
            </div>
        </div> 
        <!-- Column Two 50% Width of MD+. 100% Width on Small -->
        <div class="col-12 col-sm-6">
            <!-- Biography -->
            <div class="col-12">
                <h3 class="text-black mt-0">Bio</h3>
                <p>{{ user.bio }}</p>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <!-- Column One 50% Width of MD+. 100% Width on Small -->
        <div class="col-12 col-sm-6">
            
        </div> 
        <!-- Column Two 50% Width of MD+. 100% Width on Small -->
        <div class="col-12 col-sm-6">

        </div>
    </div>

</div>

            {% endblock content %}

            {% block extra_js %}
            <script 
            src="https://maps.googleapis.com/maps/api/js?key={{ gmapsapikey }}&callback=initMap" async defer>
            </script>
            {% endblock extra_js %}