{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
Profile for user {{ userid.user.username }}
{% endblock title %}
{% block content %}
<div class="container-fluid">
        <!-- Title and Intro -->
        <div class="row h-100 mt-5 ">
            <div class="col-12">
                <h2 class="display-4 text-black">
                    {{ user.first_name }} {{ user.last_name }}
                </h2>
            </div>
        </div>
        <!-- Profile Photo and Additional Photos -->
        <div class="row h-100">
            {% if user.profile.image1 %}
            <div class="col-2">
                <a href="{{ user.profile.image1.url }}" target="_blank">
                    <img src="{{ user.profile.image1.url }}" class="img-fluid rounded-circle profile-extra-photos" alt="Profile Photo">
                </a>
            </div>
            {% endif %}
            {% if user.profile.image2 %}
            <div class="col-2">
                <a href="{{ user.profile.image2.url }}" target="_blank">
                    <img src="{{ user.profile.image2.url }}" class="img-fluid rounded-circle profile-extra-photos" alt="Additional Photo 1">
                </a>
            </div>
            {% endif %}
            {% if user.profile.image3 %}
            <div class="col-2">
                <a href="{{ user.profile.image3.url }}" target="_blank">
                    <img src="{{ user.profile.image3.url }}" class="img-fluid rounded-circle profile-extra-photos" alt="Additional Photo 2">
                </a>
            </div>
            {% endif %}
            {% if user.profile.image4 %}
            <div class="col-2">
                <a href="{{ user.profile.image4.url }}" target="_blank">
                    <img src="{{ user.profile.image4.url }}" class="img-fluid rounded-circle profile-extra-photos" alt="Additional Photo 3">
                </a>
            </div>
            {% endif %}
            {% if user.profile.image5 %}
            <div class="col-2">
                <a href="{{ user.profile.image5.url }}" target="_blank">
                    <img src="{{ user.profile.image5.url }}" class="img-fluid rounded-circle profile-extra-photos" alt="Additional Photo 4">
                </a>
            </div>
            {% endif %}
            {% if user.profile.image6 %}
            <div class="col-2">
                <a href="{{ user.profile.image6.url }}" target="_blank">
                    <img src="{{ user.profile.image6.url }}" class="img-fluid rounded-circle profile-extra-photos" alt="Additional Photo 5">
                </a>
            </div>
            {% endif %}
            {% if user.profile.image7 %}
            <div class="col-2">
                <a href="{{ user.profile.image7.url }}" target="_blank">
                    <img src="{{ user.profile.image7.url }}" class="img-fluid rounded-circle profile-extra-photos" alt="Additional Photo 6">
                </a>
            </div>
            {% endif %}
        </div>
        <!-- Profile Details -->
        <div class="row h-100 mt-5">
            <div class="col-12">
                <h2 class="profile-title">
                    {{ user.first_name }}'s Bio
                </h2>
                <p class="lead text-black">
                    {{ user.bio }}
                </p>
            </div>

</div>

            {% endblock content %}

            {% block extra_js %}
            <script 
            src="https://maps.googleapis.com/maps/api/js?key={{ gmapsapikey }}&callback=initMap" async defer>
            </script>
            {% endblock extra_js %}